# Ignore everything
*

# ..except:
!.gitignore
!vim-plug/
!vim-plug/*
!plug-config/
!plug-config/*
!init.vim
!README.md
!.vimrc
!coc-settings.json
!/ftplugin
!/ftplugin/*

# ...but never include these:
*~
*.swap
